{{#each sortedAnswers as |answer|}}
  <h2 class="queryHeader">A:</h2>
  <p id="time">Posted By: {{answer.author}} | {{moment-from-now answer.timestamp 'MMMM Do YYYY, h:mm a' allow-empty=true}}</p>
  <p>{{answer.response}}</p>
  <button class="btn btn-default btn-sm editBtn" {{action 'deleteAnswer' answer}}>&CircleTimes; Delete</button>
  {{update-answer updateAnswer="updateAnswer" answer=answer}}
  <button class="btn btn-default btn-sm editBtn" {{action 'upVote' answer}}><span class="vote">&#9757;</span> Upvote | {{answer.upVotes}}</button>
  <button class="btn btn-default btn-sm editBtn" {{action 'downVote' answer}}><span class="vote">&#9759;</span> Downvote | {{answer.downVotes}}</button>
  <hr>
{{/each}}
